<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading mg-bt-12">
                    <h1 class="heading text-center">Transactions</h1>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li>Transactions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tf-activity s1 tf-section">
    <div class="themesflat-container">
        <div class="row">

            <div class="col-lg col-md col-12" *ngFor="let trs of transactions" >
              <div class="sc-card-activity">
                <div class="content">
                  <div class="infor">
                    <div class="time">  <span style="font-weight:bold">blockNumber:</span> {{trs.blockNumber}}</div>
                    <div class="status"><span style="font-weight:bold">transaction from</span> <span class="author">{{trs.from}}</span> <span style="font-weight:bold"> to </span> <span class="author">{{trs.to}}</span></div>
                    <div class="time">  <span style="font-weight:bold">blockHash:</span> {{trs.blockHash}}</div>
                    <div class="time">  <span style="font-weight:bold">TransactionHash:</span> {{trs.hash}}</div>
                  </div>
                </div>
                <div class="button-active icon icon-1"></div>
              </div>

                <div class="btn-activity mg-t-40 center " style="margin-bottom:20px">
                    <a href="#" class="sc-button loadmore fl-button pri-3"><span>Load More</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
