<section class="flat-title-page inner">
  <div class="overlay"></div>
  <div class="themesflat-container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading mg-bt-12">
          <h1 class="heading text-center">Requests List</h1>
        </div>
        <div class="breadcrumbs style2">
          <ul>
            <li><a routerLink="">Home</a></li>
            <li>Requests List</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tf-explore-2 tf-section">
  <div class="themesflat-container">
    <div class="row" style="margin-bottom:20px">
      <div class="col-12 ">
        <h2 class="tf-title-heading ct style-2 mg-bt-13">
          demand in progress
        </h2>
        <p class="sub-title ct small mg-bt-20 pad-420">follow your requests here ! {{UserId}} jjj</p>
        <a href="/announce"  style="font-size:20px;text-decoration: none;float:right;color:green;margin-right:30px">
          Add Announce <i class="fal fa-house"></i>
        </a>
      </div>
    </div>

    <div class="row" >

      <div class="col-3" *ngFor="let announce of announces">
        <div class="sc-card-product">
          <div class="card-media">
            <a href="item-details.html"><img src="assets/images/box-item/home.png" alt="Image"></a>
          </div>

          <div class="card-title">
            <h5 class="style2"><a href="item-details.html">Location: "{{announce.location }}  "</a></h5>
            <div class="price" style="float:right;margin-top:30px;background-color:FloralWhite;border-radius:10px;">
              <span style="color:black">Current Bid</span>
              <h5 style="color:white;font-size:10px;color:black;margin-left:10px"> {{announce.cost }} ETH</h5>
            </div>
          </div>

          <div *ngIf="announce.isValidate ; else elseBlock">

              <div *ngIf="announce.validation ; else elseBlock">
                      <div *ngIf="announce.toPublish ; else elseBlock">
                        <div class="button" style="margin-left:15px" >
                          <button type="button "
                                  (click)="RemovePublication(announce.title);" style="background-color:green">
                            Remove publication
                          </button>
                        </div>
                      </div>

                      <ng-template #elseBlock>
                        <div><span class="badge badge-pill badge-success" style="font-size:13px;">Request Accepted !</span></div>
                        <div class="button" style="margin-top:30px">
                          <button type="button"
                                  (click)="AddToPublication(announce.title);" style="background-color:green">
                            publish
                          </button>
                        </div>
                      </ng-template>
                </div>
                <ng-template #elseBlock>
                  <div><span class="badge badge-pill badge-danger" style="font-size:13px;">Request Rejected !</span></div>
                  <div class="mt-20">
                    <button type="button"
                           style="background-color:blue;margin-left:40px;margin-bottom:10px">
                      ask again
                    </button>
                    <button type="button"
                            style="background-color:orange;margin-left:13px;">
                      cancel the request
                    </button>
                   <!-- <a href="#" class="badge badge-primary" style="font-size:12px;text-decoration: none">ask again</a>
                    <a href="#" class="badge badge-warning"  style="font-size:12px;text-decoration: none;float:left;">
                      cancel the request
                    </a>-->
                  </div>
                </ng-template>
          </div>


          <ng-template #elseBlock>
            <div><span class="badge badge-pill badge-warning" style="font-size:12px;margin-left:50px">Request In progress ...</span></div>
            <div class="mt-20">
              <!--<a href="#" class="badge badge-danger"  style="font-size:12px;text-decoration: none;float:left;">
                cancel the request
              </a>-->
              <button type="button"
                      style="background-color:orange;margin-left:13px;">
                cancel the request
              </button>
            </div>
          </ng-template>


        </div>
      </div>
    </div>


  </div>
</section>
