<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="themesflat-container">
        <div class="row">                       
            <div class="col-md-12">
                <div class="page-title-heading mg-bt-12">
                    <h1 class="heading text-center">FAQ</h1>
                </div>
                <div class="breadcrumbs style2">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                    
</section>

<!-- flat-accordion -->
<section class="tf-section wrap-accordion">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title-heading ct style-2 fs-30 mg-bt-10">
                    Frequently Asked Questions
                </h2>
                <h5 class="sub-title help-center mg-bt-32 ">
                    Here you will find questions you can ask or problems you may encounter.
                </h5>
            </div>
            <div class="col-md-12">
                <div class="flat-accordion2">
                    <div class="flat-toggle2">
                        <h6 class="toggle-title active">What is the interest of this platform?</h6>
                        <div class="toggle-content">
                        <p>NFTs or non-fungible tokens, are cryptographic assets on blockchain with unique identification codes and metadata that distinguish them from each other. NFTs are unique and not mutually interchangeable, which means no two NFTs are the same.
                        </p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">Customer support is available ?</h6>
                        <div class="toggle-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">How do I find my transaction hash?</h6>
                        <div class="toggle-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">What are gas fees on Axies?</h6>
                        <div class="toggle-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">What is the effective staking amount?</h6>
                        <div class="toggle-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                    </div>                               
                </div>
            </div>
        </div>
    </div>
</section>
