<section class="flat-title-page home3 parallax">
    <img class="bgr-gradient gradient1" src="../../assets/images/backgroup-secsion/bg-gradient1.png" alt="">
    <img class="bgr-gradient gradient2" src="../../assets/images/backgroup-secsion/bg-gradient2.png" alt="">
    <img class="bgr-gradient gradient3" src="../../assets/images/backgroup-secsion/bg-gradient3.png" alt="">
    <div class="shape item-w-16"></div>
    <div class="shape item-w-22"></div>
    <div class="shape item-w-32"></div>
    <div class="shape item-w-48"></div>
    <div class="shape style2 item-w-51"></div>
    <div class="shape style2 item-w-51 position2"></div>
    <div class="shape item-w-68"></div>
    <div class="overlay"></div>
    <div class="swiper-container mainslider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-item">
                    <div class="themesflat-container">
                        <br><br><br><br><br><br><br><br><br>
                        <div class="wrap-heading text-center">
                            <h2 class="heading">Now you can !
                            </h2>
                            <br><br><br>
                            <h1 class="heading"><span class="tf-text s1">Sell and Buy your home </span>
                                <span>safely </span>
                            </h1><br><br><br>
                            <p class="sub-heading mg-t-29 mg-bt-50">your marketplace, makes life easy for your
                            </p>
                            <div class="flex" style="display: flex; justify-content: center;">
                                <a routerLink="/explore" class="sc-button header-slider style style-1 rocket fl-button pri-1"><span>Explore
                                </span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a routerLink="/login" class="sc-button header-slider style style-1 note fl-button pri-1"><span>Create
                                </span></a>
                            </div>
                        </div>
                    </div>
                </div><!-- item-->
            </div>
        </div>
    </div>
</section>
