<app-header></app-header>
<section class="tf-section top-seller bg-style">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title style2">Buy Your House Now!</h2>
                <h2 class="tf-title style2">Axies Is Your First Direction.</h2>
                <div class="heading-line s2"></div>
            </div>
        </div>
    </div>
</section>
<section class="tf-section our-creater dark-style2">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title style4 mg-bt-38">
                    Our Creator</h2>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="sc-card-collection style-2">
                    <div class="card-bottom">
                        <div class="author">
                            <div class="sc-author-box style-2">
                                <div class="author-avatar">
                                    <img src="../../assets/images/avatar/ceo.png" alt="" class="avatar">
                                <div class="badge"></div>
                            </div>
                            </div>
                            <div class="content">
                                <h4><a href="author02.html">Lotfi EL AACHAK</a></h4>
                                <div class="infor">
                                    <span>CEO</span>
                                </div>
                            </div>
                        </div>
                        <a routerLink="profileDetails" class="sc-button fl-button pri-3"><span>Profile Details</span></a>
                    </div>
                    <a href="author02.html">
                        <div class="media-images-collection">

                                <p>professor at the faculty of science and technology ,Tanger</p>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="sc-card-collection style-2">
                    <div class="card-bottom">
                        <div class="author">
                            <div class="sc-author-box style-2">
                                <div class="author-avatar">
                                    <a href="#">
                                        <img src="../../assets/images/avatar/programmer.png" alt="" class="avatar">
                                    </a>
                                    <div class="badge"></div>
                                </div>
                            </div>
                            <div class="content">
                                <h4><a href="author02.html">Nassima EL JAZOULI</a></h4>
                                <div class="infor">
                                    <span>Engineer</span>
                                </div>
                            </div>
                        </div>
                        <a routerLink="profileDetails" class="sc-button fl-button pri-3"><span>Profile Details</span></a>
                    </div>
                    <a href="author01.html">
                        <div class="media-images-collection">
                          <p>student engineer in software and intelligent systems (LSI) at the faculty of science and technology ,Tanger </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="sc-card-collection style-2">
                    <div class="card-bottom">
                        <div class="author">
                            <div class="sc-author-box style-2">
                                <div class="author-avatar">
                                        <img src="../../assets/images/avatar/programmer (1).png" alt="" class="avatar">
                                    <div class="badge"></div>
                                </div>
                            </div>
                            <div class="content">
                                <h4><a href="author02.html">Samir AIT-ABBOU</a></h4>
                                <div class="infor">
                                    <span>Engineer</span>
                                </div>
                            </div>
                        </div>
                        <a routerLink="profileDetails" class="sc-button fl-button pri-3"><span>Profile Details</span></a>
                    </div>
                    <a href="author01.html">
                        <div class="media-images-collection">
                          <p>student engineer in software and intelligent systems (LSI) at the faculty of science and technology ,Tanger </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
