<section class="tf-activity s1 tf-section">
  <div class="themesflat-container">
    <button routerLink="/addAdmin"><i class="fas fa-plus"> Add </i></button>
    <br><br><br><br>
    <div class="row">
      <div class="col-lg col-md col-12">
        <div class="box-activity">
          <div class="sc-card-activity style-2" *ngFor="let user of users">
            <div class="content">

              <div class="infor">
                <h4>Category name</h4>
                <li><span class="author">{{user.username}}</span></li>
              </div>
            </div>
            <button (click)="edit(user.id)"><i class="active far fa-edit"> Edit</i></button>
            <button (click)="deleteUser(user.id)" ><i class="fas fa-trash" ></i> Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
