<footer id="footer" class="footer-light-style clearfix bg-style">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-12">
                <div class="widget widget-logo">
                    <div class="logo-footer" id="logo-footer">
                        <a href="index.html">
                            <img id="logo_footer" src="assets/images/logo/logo_dark.png" alt="nft-gaming" width="135" height="56"
                            data-retina="assets/images/logo/logo_dark@2x.png" data-width="135"
                            data-height="56">
                        </a>
                    </div>
                    <p class="sub-widget-logo">Our platform is the first platform in the world that digitalizes the world of real estate and neglects the role of banks.</p>

                </div><!--/.widget-social-->
            </div>
            <div class="col-lg-2 col-md-4 col-5">
                <div class="widget widget-menu style-1">
                    <h5 class="title-widget">Account</h5>
                    <ul>
                        <li><a routerLink="authors">Authors</a></li>
                        <li *ngIf="isLoggedIn"><a routerLink="profile">My Profile</a></li>
                        <li *ngIf="isLoggedIn && RoleUser"><a routerLink="announce">Create Announce</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-7">
                <div class="widget widget-menu style-2">
                    <h5 class="title-widget">Resources</h5>
                    <ul>
                        <li><a routerLink="help">Help & Support</a></li>
                        <li *ngIf="isLoggedIn"><a routerLink="transactions">Transactions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-5">
                <div class="widget widget-menu fl-st-3">
                    <h5 class="title-widget">Company</h5>
                    <ul>
                        <li><a routerLink="explore">Explore</a></li>
                        <li><a routerLink="contact">Contact Us</a></li>
                        <li><a routerLink="faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-7">
                <div class="widget widget-subcribe style2">
                    <h5 class="title-widget">Subscribe Us</h5>
                    <div class="form-subcribe">
                        <form id="subscribe-form" action="#" method="GET" accept-charset="utf-8" class="form-submit">
                            <input name="email" value="" class="email" type="email" placeholder="info@yourgmail.com" required>
                            <button id="submit" name="submit" type="submit"><i class="icon-fl-send"></i></button>
                        </form>
                    </div>
                    <br><br>
                    <div class="widget-social style-1">
                        <ul>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="style-2"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li class="mgr-none"><a href="#"><i class="icon-fl-tik-tok"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- /#footer -->

<!-- /#wrapper -->

<a id="scroll-top"></a>
