<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading mg-bt-12">
                    <h1 class="heading text-center">Transactions</h1>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li>User Dashborad</li>
                        <li>Requests</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                    
</section>
<section class="tf-activity s1 tf-section">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <app-operation></app-operation>
                <div class="btn-activity mg-t-40 center">
                    <a href="#" class="sc-button loadmore fl-button pri-3"><span>Load More</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">

                <div id="side-bar" class="side-bar style-2">

                    <div class="widget widget-search mgbt-24">
                        <form action="#">
                            <input type="text" placeholder="Enter your word art" required>
                            <button><i class="icon-fl-search-filled"></i></button>
                        </form>
                    </div>

                    <div class="widget widget-filter style-2 mgbt-0">
                        <h3 class="title-widget">Filter</h3>
                        <ul class="box-check">
                            <li><a href="#" class="box-widget-filter"><i class="icon-fl-sort-filled"></i>Listings</a></li>
                            <li><a href="#" class="box-widget-filter"><i class="icon-fl-heart-filled"></i>Like</a></li>
                            <li><a href="#" class="box-widget-filter"><i class="icon-fl-buy"></i>Purchases</a></li>
                            <li><a href="#" class="box-widget-filter"><i class="icon-fl-discount"></i>Sales</a></li>
                            <li><a href="#" class="box-widget-filter"><i class="icon-fl-logout"></i>Transfer</a></li>
                            <li><a href="#" class="box-widget-filter"><i class="icon-fl-star"></i>Burns</a></li>
                            <li><a href="#" class="box-widget-filter"><i class="icon-fl-credit-card"></i>Bids</a></li>
                            <li><a href="#" class="box-widget-filter"><i class="icon-fl-users-filled"></i>Followings</a></li>
                        </ul>
                        <a href="#" class="clear-check btn-filter style-2">
                            Clear All Filters
                        </a>
                    </div>

                </div><!--/.side-bar-->

            </div>
        </div>
    </div>
</section>
